
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



.navbarr {
  background-color: black;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  z-index: 5500;
}
body {
  background-color: rgb(20, 20, 20);
  font-family: 'Roboto', sans-serif;
 
}
.navbar-brand:hover {
  color: white;
}
.navbar-brand {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.navbar-brand span {
  color: green;
}



.tasks {
  margin-top: 50px;
  

 
}
.task {
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
 margin: 20px 20px;

  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px 50px;
  background: rgba(215, 203, 203, 0.1);

  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-bottom: 2px solid rgb(78, 75, 75);
}
.icon {
  font-size: 20px;
  margin-left: 8px;
}
.icon:hover {
  font-size: 21px;
  transition: 0.3s;
}
.icon-star {
  opacity: 0.4;
  
}
/* .icon-star:hover {
  color: orange;
  opacity: 1;
} */
.icon-angry {
  color: rgb(247, 183, 64);

}



/* --------------- */

 form{
    text-align: center;
   padding-bottom: 10px;
}
 form input{
 
    border-radius: 20px;
  height: 20px;
    font-size: 30px;
}
button{
    all:unset;
    margin-left: 8px;
    margin-top: 15px;
    
}
.button svg{
    font-size: 35px;
    color: green;
}

/* java */
.dn{
display: none;
}
.finish{
  text-decoration-line: line-through;
  text-decoration-color: rgb(60, 255, 0);
}
.orange{
  color: orange;
  opacity: 1;
}
/* end java */
.clearall{
  display: none;
}